.events, .event {
    flex: 1;
    margin: 10px;
}

.event-card {
    display: flex;
    height: fit-content;
    color: black;
    text-decoration: none;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    transition: background-color 0.2s, transform 0.2s;
}

.event-card:hover {
    background-color: rgb(225, 225, 225);
    cursor: pointer;
}

.event-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    align-self: center;
}

.event-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 10px;
}

.event-info > p {
    margin: 5px 0;
    font-weight: 750;
}

.event-info > span, .event-host > span {
    font-weight: 300;
}

.event-card-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event-card-row > img, .event-card-row > i {
    margin-right: 10px;
}

.event-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.event-host-img, .event-organiser-img {
    border-radius: 50%;
    object-fit: cover;
}

.event-host-img {
    width: 25px;
    height: 25px;
}

.event-organiser-img {
    width: 50px;
    height: 50px;
}

.event-organiser-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.event-organiser-options > * > * {
    margin: 0 5px;
}

.event-organiser-follow-btn {
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 5px 10px;
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 0.85em;
    font-weight: 600;
}

.event-organiser-follow-btn.following {
    border: none;
    color: white;
    background-color: black;
}